In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from google.colab import files
 
 
uploaded = files.upload()

Saving campeones.csv to campeones (1).csv

In [ ]:
campeones = pd.read_csv ("campeones.csv")
campeones

,Unnamed: 0,name,hp,hp+,hp5,hp5+,mp,mp+,mp5,mp5+,...,rng,ID,Dificultad,AD,Defensa,AP,Pasiva,Win Rate,Ban Rate,Play Rate
0,0,Aatrox,580.00,90.0,3.0,1.00,0.0,0.0,0.000,0.000,...,175.0,266,4,8,4,3,Deathbringer Stance,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 6.409201647077534, <Po..."
1,1,Ahri,526.00,92.0,6.5,0.60,418.0,25.0,8.000,0.800,...,550.0,103,5,3,4,8,Essence Theft,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.01662414984586634, <..."
2,2,Akali,575.00,95.0,8.0,0.50,200.0,0.0,50.000,0.000,...,125.0,84,7,5,3,8,Assassin's Mark,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 4.308408345734966, <Po..."
3,3,Alistar,573.36,106.0,8.5,0.85,350.0,40.0,8.500,0.800,...,125.0,12,7,6,9,5,Triumphant Roar,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.00319101328310747, <..."
4,4,Amumu,613.12,84.0,9.0,0.85,287.2,40.0,7.382,0.525,...,125.0,32,3,2,6,8,Cursed Touch,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0029336735022117066,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,141,Zed,584.00,85.0,7.0,0.65,200.0,0.0,50.000,0.000,...,125.0,238,7,9,2,1,Contempt for the Weak,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.2628211182288435, <P..."
142,142,Ziggs,536.00,92.0,6.5,0.60,480.0,23.5,8.000,0.800,...,550.0,115,4,2,4,9,Short Fuse,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:..."
143,143,Zilean,504.00,82.0,5.5,0.50,452.0,30.0,11.335,0.800,...,550.0,26,6,2,5,8,Time In A Bottle,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.02889925739459427, <..."
144,144,Zoe,560.00,92.0,6.5,0.60,425.0,25.0,8.000,0.650,...,550.0,142,5,1,7,8,More Sparkles!,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0038858306915260325,..."
145,145,Zyra,504.00,79.0,5.5,0.50,418.0,25.0,13.000,0.400,...,575.0,143,7,4,3,8,Garden of Thorns,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:..."

No tenemos que cargar la columna "Unnamed"

In [ ]:
campeones.columns

Index(['Unnamed: 0', 'name', 'hp', 'hp+', 'hp5', 'hp5+', 'mp', 'mp+', 'mp5',
       'mp5+', 'ad', 'ad+', 'as', 'as+', 'ar', 'ar+', 'mr', 'mr+', 'ms', 'rng',
       'ID', 'Dificultad', 'AD', 'Defensa', 'AP', 'Pasiva', 'Win Rate',
       'Ban Rate', 'Play Rate'],
      dtype='object')

In [ ]:
campeones.shape

(146, 29)

In [ ]:
campeones.dtypes

Unnamed: 0      int64
name           object
hp            float64
hp+           float64
hp5           float64
hp5+          float64
mp            float64
mp+           float64
mp5           float64
mp5+          float64
ad            float64
ad+           float64
as            float64
as+           float64
ar            float64
ar+           float64
mr            float64
mr+           float64
ms            float64
rng           float64
ID              int64
Dificultad      int64
AD              int64
Defensa         int64
AP              int64
Pasiva         object
Win Rate       object
Ban Rate       object
Play Rate      object
dtype: object

Los rates que nos deber√≠an devolver valores num√©ricos no vienen as√≠. Hay que limpiarlos para poder operar con ellos

In [ ]:
campeones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  146 non-null    int64
 1   name        146 non-null    object
 2   hp          146 non-null    float64
 3   hp+         146 non-null    float64
 4   hp5         146 non-null    float64
 5   hp5+        146 non-null    float64
 6   mp          146 non-null    float64
 7   mp+         146 non-null    float64
 8   mp5         146 non-null    float64
 9   mp5+        146 non-null    float64
 10  ad          146 non-null    float64
 11  ad+         146 non-null    float64
 12  as          146 non-null    float64
 13  as+         146 non-null    float64
 14  ar          146 non-null    float64
 15  ar+         146 non-null    float64
 16  mr          146 non-null    float64
 17  mr+         146 non-null    float64
 18  ms          146 non-null    float64
 19  rng         146 non-null    float64
 20  ID          146 non-null    int64
 21  Dificultad  146 non-null    int64
 22  AD          146 non-null    int64
 23  Defensa     146 non-null    int64
 24  AP          146 non-null    int64
 25  Pasiva      146 non-null    object
 26  Win Rate    146 non-null    object
 27  Ban Rate    146 non-null    object
 28  Play Rate   146 non-null    object
dtypes: float64(18), int64(6), object(5)
memory usage: 33.2+ KB

No tenemos nulos como tal, pero debemos buscar aquellos valores que sean "NS/NC" dado que podemos haber extra√≠do as√≠ los nulos

In [ ]:
campeones.duplicated().sum()

0

No tenemos duplicados

In [ ]:
campeones.isnull().sum()

Unnamed: 0    0
name          0
hp            0
hp+           0
hp5           0
hp5+          0
mp            0
mp+           0
mp5           0
mp5+          0
ad            0
ad+           0
as            0
as+           0
ar            0
ar+           0
mr            0
mr+           0
ms            0
rng           0
ID            0
Dificultad    0
AD            0
Defensa       0
AP            0
Pasiva        0
Win Rate      0
Ban Rate      0
Play Rate     0
dtype: int64

In [ ]:
numericas = campeones.select_dtypes(include = np.number)
numericas.head(2)

,Unnamed: 0,hp,hp+,hp5,hp5+,mp,mp+,mp5,mp5+,ad,...,ar+,mr,mr+,ms,rng,ID,Dificultad,AD,Defensa,AP
0,0,580.0,90.0,3.0,1.0,0.0,0.0,0.0,0.0,60.00,...,3.25,32.1,1.25,345.0,175.0,266,4,8,4,3
1,1,526.0,92.0,6.5,0.6,418.0,25.0,8.0,0.8,53.04,...,3.50,30.0,0.50,330.0,550.0,103,5,3,4,8

In [ ]:
categoricas = campeones.select_dtypes(include = "object")
categoricas.head(2)

,name,Pasiva,Win Rate,Ban Rate,Play Rate
0,Aatrox,Deathbringer Stance,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 6.409201647077534, <Po..."
1,Ahri,Essence Theft,"{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.0, <Position.jungle:...","{<Position.top: 'TOP'>: 0.01662414984586634, <..."

Hay que limpiar todos los valores que devuelven los rates porque as√≠ son cero usables

In [ ]:
campeones.describe(include = "object").T

          count unique                                                top freq
name        146    146                                             Aatrox    1
Pasiva      146    146                                Deathbringer Stance    1
Win Rate    146      1  {<Position.top: 'TOP'>: 0.0, <Position.jungle:...  146
Ban Rate    146      1  {<Position.top: 'TOP'>: 0.0, <Position.jungle:...  146
Play Rate   146    146  {<Position.top: 'TOP'>: 6.409201647077534, <Po...    1

Win Rate y Ban Rate devuelven todo ceros, habr√≠a que eliminarlas

In [ ]:
campeones.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,146.0,72.500000,42.290661,0.000,36.250000,72.5000,108.750,145.000
hp,146.0,556.350959,35.380875,400.000,533.100000,563.2400,582.180,625.640
hp+,146.0,88.404110,6.760513,60.000,85.000000,89.0000,92.000,112.000
hp5,146.0,6.621575,1.762697,2.500,5.500000,7.0000,8.000,10.000
hp5+,146.0,0.666096,0.161665,0.400,0.550000,0.6000,0.750,1.750
mp,146.0,308.427534,116.991038,0.000,277.900000,325.0000,374.750,500.000
mp+,146.0,32.952055,16.679776,0.000,25.000000,38.0000,43.750,67.000
mp5,146.0,8.439158,8.357717,0.000,6.972000,7.7200,8.034,50.000
mp5+,146.0,0.557021,0.280759,0.000,0.412500,0.6250,0.800,1.000
ad,146.0,59.351257,6.204104,40.368,54.953425,60.0000,64.000,70.000
ad+,146.0,3.231758,0.645140,0.000,3.000000,3.1708,3.500,5.000
as,146.0,0.636808,0.044479,0.200,0.625000,0.6365,0.658,0.695
as+,146.0,2.492993,0.813023,1.000,2.000000,2.5000,3.000,6.000
ar,146.0,30.073096,6.737943,17.040,24.403000,30.0000,35.000,47.000
ar+,146.0,3.467808,0.469657,0.000,3.262500,3.5000,3.750,5.000
mr,146.0,31.166438,1.659218,25.000,30.000000,32.0000,32.100,39.000
mr+,146.0,0.894178,0.378678,0.300,0.500000,1.2500,1.250,1.500
ms,146.0,336.356164,7.568300,315.000,330.000000,335.0000,340.000,355.000
rng,146.0,324.863014,196.317780,125.000,125.000000,175.0000,525.000,650.000
ID,146.0,121.260274,126.078687,1.000,37.250000,82.5000,141.750,555.000
Dificultad,146.0,5.739726,2.054616,1.000,4.000000,6.0000,7.000,10.000
AD,146.0,5.465753,2.784599,0.000,3.000000,6.0000,8.000,10.000
Defensa,146.0,4.712329,2.087595,1.000,3.000000,5.0000,6.000,10.000
AP,146.0,5.431507,2.713714,1.000,3.000000,6.0000,8.000,10.000

Desviaci√≥n bastante amplia en muchos de los par√°metros lo que nos indica la variedad y diferencia de campeones que hay.

Con los posibles problemas y bloqueos detectados en nuestros datos, pasamos a su manejo y transformaci√≥n